<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>Bienvenido a la Aplicación de Gestión de Productos</h1>
            <div class="card">
                <img src="images/ima-login.png" class="card-img-top img-login" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Inicie sesión para continuar</h5>
                    <div class="card-form">
                        <form [formGroup]="loginForm">
                            <div class="mb-3">
                                <label for="email" class="form-label">Coreo Electrónico</label>
                                <input formControlName="email" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                                <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="error">
                                    <div *ngIf="loginForm.get('email')?.hasError('required')" class="alert alert-warning" role="alert">
                                        Email es requerido
                                      </div>
                                      <div *ngIf="loginForm.get('email')?.hasError('email')" class="alert alert-danger" role="alert">
                                        Email no válido
                                      </div>
                                  </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input formControlName="password" name="password" type="password" class="form-control" id="password">
                                <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="error">
                                    <div *ngIf="loginForm.get('password')?.hasError('required')" class="alert alert-warning" role="alert">
                                        Contraseña es requerida
                                      </div>
                                      <div *ngIf="loginForm.get('password')?.hasError('minlength')" class="alert alert-danger" role="alert">
                                        Mínimo 6 caracteres
                                      </div>
                                    <span ></span>
                                    <span ></span>
                                  </div>
                            </div>
                            <div class="bd-magin">
                                <button type="button" class="btn btn-primary" (click)="onLogin()">Ingresar</button>
                                <button type="button" class="btn btn-light" (click)="getRegsiter()">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

